<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Deco.ai</title>
</head>

<body>
<!--Header-->
<div class="container">
    <div class="row justify-content-between align-item-center">
        <div class="col-5">
            <br>
            <h1 onclick="location.href='/'">Deco.ai</h1>
        </div>
        <div class="col-5 text-right">
            <br>
            <button class="btn btn-warning" data-toggle="modal" data-target="#network">Network</button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">Blockchain</button>
        </div>
    </div>
    <p class="subtitle">A Decentralized Ecosystem for Artificial Intelligence</p>
</div>
</div>
<br><br>
<!--The current blockchain-->
<div class="container">
    <h3>Confirm your transaction:</h3>
    You will execute "{{model.data.title}}" on the Deco.ai network.<br>
    This transaction will cost you {{model.smart_contract.amount}} credits.<br>
    <br>
    Inputs:
    {% if model.smart_contract.inputs != undefined %}
    <br>
        {% for input in model.smart_contract.inputs %}
            {{ input }}
            <input class="form-control" id="'{{input}}'" placholder="'{{input}}'">
        {% endfor %}
    {% else %}
        N/A
    {% endif %}
    <br><br>
    Would you like to continue?
    <button class="btn btn-success" onclick="run_ai();">Continue</button>
    <button class="btn btn-danger" onclick="location.href = '/transactions/uploads'">Cancel</button><br><br>

    <div id="run_sender" style="display: none;">oiays748thailsu4h487qtw4aho</div>
    <div id="run_amount" style="display: none;">{{model.smart_contract.amount}}</div>
    <div id="run_transactionID" style="display: none;">{{model.transactionID}}</div>

    <button class="btn btn-warning" onclick="location.href = '/mine'">Mine next block.</button>
    <button class="btn btn-warning" onclick="location.href = '/'">Home</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">See Entire Blockchain</button>
    </div>
<br><br>




<!-- Modal -->
<div class="modal fade" id="network" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Network Nodes</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">Nodes on the network:<br>
                {% for node in nodes %}
                {{node}}<br>
                {% endfor %}
                <br>Enter the IP address of a known node on the main blockchain to sync with the latest blockchain.<br>
                <input type="text" placeholder="x.x.x.x:port" id="newIP">
                <button type="button" class="btn btn-warning" onclick="redirect()">Sync Blockchain</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">*Your Username*
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Deco.ai Public blockchain</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    {% for block in chain|reverse() %}
                    <li class="list-group-item list-group-item-primary justify-content-between align-items-center">
                        <span class="badge badge-primary badge-pill">Block#: {{block.index}}</span><br>
                        Timestamp: {{block.timestamp}}<br>
                        Transactions:<br>
                        <ul class="list-group list-group-flush">
                            {% for transaction in block.transactions %}
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                Sender: {{transaction.sender}}<br>
                                Recipient: {{transaction.recipient}}<br>
                                Recipient Balance: {{transaction.recipient_unspent_outputs}}<br>
                                Data: {{transaction.data}}<br>
                                Smart Contract: {{transaction.smart_contract}}<br>
                                TransactionID: {{transaction.transactionID}}<br>
                                 <span class="badge badge-primary badge-pill">Amount: {{transaction.amount}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        <br>
                        Proof: {{block.proof}}<br>
                        Previous Hash: {{block.previous_hash}}<br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='functions.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</body>
</html>