<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Deco.ai</title>
</head>

<body>
<!--Header-->
<div class="container">
    <div class="row justify-content-between align-item-center">
        <div class="col-5">
            <br>
            <h1 onclick="location.href='/'">Deco.ai</h1>
        </div>
        <div class="col-5 text-right">
            <br>
            <button class="btn btn-warning" data-toggle="modal" data-target="#login">Login</button>
            <button class="btn btn-warning" data-toggle="modal" data-target="#network">Network</button>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">Blockchain</button>
        </div>
    </div>
    <p class="subtitle">A Decentralized Ecosystem for Artificial Intelligence</p>
</div>
</div>
<br><br>

<!--Run AI Models-->
<div class="container events">
    <div class="container">
    <h3>Start using AI services today.</h3>
    Browse the collection of AI services or enter a transaction ID of a known service.
    <div class="row justify-content-around align-items-center">
        <div class="col-1">
        <button style="margin-right: 5px;" class="btn btn-warning" onclick="location.href = '/transactions/uploads'">Browse</button><br>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="transactionID" aria-label="Recipient's username" aria-describedby="button-addon2" id="run_transactionID">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="button" id="button-addon2" onclick="confirmAI()">Run!</button>
                </div>
            </div>
        </div>
    </div>
        </div>
</div>
<br>

<!--Upload an AI Model-->
<div class="container events">
    <div class="container">
    <h3>Upload an AI model.</h3>
    <div class="form-group">
        By uploading your AI model to Deco.ai, you are allowing anybody to purchase the service under the terms you provide on the smart contract. You will be compensated immediately following purchase. Please note, this is still in experimental phase. Do not upload proprietary AI models.<br>
        <label for="comment">Please enter your public address:<br></label>
        <textarea type="text" class="form-control" id="upload_sender_public" placeholder="Public address">-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDxhJprTuOCQecBio3pgldEEm6J\nKiR/a9egfchTJV7pssYF7atYiC+7EMbwQkQoqGrruLDhPTQM+opwzPT3B8nsaXBf\nSfbOjh08xsH4GyTqc0MTYIGQjmhVTtNbr90IOUAZUUqlvx/MZFevfLlDMfHzsnO+\nYWLFlJGsVmf80d7bjQIDAQAB\n-----END PUBLIC KEY-----</textarea>
        <label for="comment">Please enter your private address:<br></label>
        <textarea type="text" class="form-control" placeholder="Private address" id="upload_sender_private">-----BEGIN RSA PRIVATE KEY-----\nMIICXQIBAAKBgQDLqIz+/+l45c19mWwTD3cE2CG+FBeqe8cjMsYkRTDkSvD1xs5Xfj+1SqhgwPHyOPZA3ovOsB6OWePulwjNGI3d67wRmUQMmHxkfiGV5lTHdzCefJ+Znttm8WCnE6Xs+aZoM5lwf869u1nIllBlJnkP6nVjZKATD+Z8Gj4XvSFmfwIDAQABAoGBAKgCP3bqRYAQDErOM6Mxwd0ENCnrx25EOI7oBx/K2L+st0X6oST6qLH1ihxvb+mEZlozfaCgGEUVEP02KfOQiw8M6d373CPSFYFuFEkJls9EgVDzNQ368w+sWqyf27QKDEuqNGgE5zXSWi6NvM6ouUw3xZhMW1iY0SoSPII2MDFBAkEA4B7eOdmLdPd6UZcLaodgcxK6jEUl6vvAty+ZCJ/nyGvzXBRSP1jJG/tiPM6pz/qOUzf/tL6JQ4j94CVe7IyvYQJBAOigkpAC3FM6WYBiyiul9wV6Sa7W2tTxZeZZ8SlZk0chjSxCCSkT+rksuZUjXrkBxD2q/IBRt2LyBIP6umItQd8CQQCs0GB+rvZPnLweyZ8t53FBigF6Q593T+RL3FHeSp7I9iRSrgC1g9qezvny9VAPZJ32IUn0rq7c+nb4LRjCwcBBAkAHcJs/X9gMEWGraX1tx/EOi8qvfM+i39WSeG3uFJ9RNxF8yN/iIHF0WqnUyzzMTfIoxr8sm3ByCat7TRmI6kmhAkAjMAbE4cy8mpTzN+J2rhllWFF14HVU2G/ikmjZk6Sq5IMD4qAFS4NYPWnTvnuV+wZKDSH122ThyKwgYEjRb23Q-----END RSA PRIVATE KEY-----'</textarea>
        <label>Enter the title to your program:</label>
        <input type="text" class="form-control" value="Hello World" placeholder="Title of Program" id="upload_title">
        <label for="comment">Copy and paste your code here:</label>
        <textarea class="form-control" rows="5" id="upload_data" >global g1&#10;g1="Hello!"</textarea>
        <label for="comment">Smart Contract (JSON style):</label>
        <textarea class="form-control" rows="5" id="upload_contract">{ "amount": 0, "uses" : -1 }</textarea>
        <button type="button" class="btn btn-warning btn-sm btn-block" type="button" id="button-addon2" onclick="newUpload()">Upload!</button>
    </div>
    </div>
</div>
<br>

<!--Become A Miner-->
<div class="container events">
    <div class="container">
    <h3>Become a Miner today.</h3>
    Earn mining rewards while you sleep. Leave your computer mining on the Deco.ai network to start earning passive income while supporting the growth of the network.
    <br>
    <button class="btn btn-warning" onclick="location.href = '/mine'">Mine the next block</button>
</div>
</div>
<br><br>

<!--Upload Data-->
<div class="container events">
    <div class="container">
    <h3>Upload data sets for training.</h3>
    <div class="form-group">
        <label for="comment">Do you have great data set skills? You can get paid everytime somebody uses your data for their AI models. By uploading your data to Deco.ai, you are allowing anybody to purchase the data under the terms you provide on the smart contract. You will be compensated immediately following the purchase. Please note, this is still in experimental phase. Do not upload proprietary data. Copy and paste your data here:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        <button type="button" class="btn btn-warning btn-sm btn-block" id="button-addon2">Upload!</button>
    </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="network" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Network Nodes</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">Nodes on the network:<br>
                {% for node in nodes %}
                {{node}}<br>
                {% endfor %}
                <br>Enter the IP address of a known node on the main blockchain to sync with the latest blockchain.<br>
                <input type="text" placeholder="x.x.x.x:port" id="newIP">
                <button type="button" class="btn btn-warning" onclick="redirect()">Sync Blockchain</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Login</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="key"></div>
                <button class="btn btn-warning" id="getKey" onclick="getKey()">Get A Key</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Deco.ai Public blockchain</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    {% for block in chain|reverse() %}
                    <li class="list-group-item list-group-item-primary justify-content-between align-items-center">
                        <span class="badge badge-primary badge-pill">Block#: {{block.index}}</span><br>
                        Timestamp: {{block.timestamp}}<br>
                        Transactions:<br>
                        <ul class="list-group list-group-flush">
                            {% for transaction in block.transactions %}
                            <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
                                Sender: {{transaction.sender}}<br>
                                Recipient: {{transaction.recipient}}<br>
                                Recipient Balance: {{transaction.recipient_unspent_outputs}}<br>
                                Data: {{transaction.data}}<br>
                                Smart Contract: {{transaction.smart_contract}}<br>
                                TransactionID: {{transaction.transactionID}}<br>
                                 <span class="badge badge-primary badge-pill">Amount: {{transaction.amount}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                        <br>
                        Proof: {{block.proof}}<br>
                        Previous Hash: {{block.previous_hash}}<br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='functions.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</body>
</html>
